{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Chalys - choose subject</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static "Content/assets/img/favicon.png" %}" rel="icon">
  <link href="{% static "Content/assets/img/apple-touch-icon.png" %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "Content/assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "Content/assets/vendor/icofont/icofont.min.css" %}" rel="stylesheet">
  <link href="{% static "Content/assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <link href="{% static "Content/assets/vendor/animate.css/animate.min.css" %}" rel="stylesheet">
  <link href="{% static "Content/assets/vendor/remixicon/remixicon.css" %}" rel="stylesheet">
  <link href="{% static "Content/assets/vendor/venobox/venobox.css" %}" rel="stylesheet">
  <link href="{% static "Content/assets/vendor/owl.carousel/assets/owl.carousel.min.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "Content/assets/css/style.css" %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Sailor - v3.0.0
  * Template URL: https://bootstrapmade.com/sailor-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">Chalys</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="{% static "Content/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">

        <ul>
          <li><a href="/">Home</a></li>
          <li class="active"><a href=" ">Subjects</a></li>
          {% if active %}  
        </ul>

      </nav><!-- .nav-menu -->

      <a href="auth/logout" class="get-started-btn">Logout</a>
          {% else %}    
          <li><a href="auth/register"><strong>Sign UP</strong></a></li>

        </ul>

      </nav><!-- .nav-menu -->

      <a href="auth/login" class="get-started-btn">Sign IN</a>
      {% endif %}
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          {% if active %}
          <h2>Welcome, {{request.user.first_name}} {{request.user.last_name}}</h2>
          {% else %}
          <h2>Welcome, guest</h2>
          {% endif %}
          <ol>
            <li><a href="/">Home</a></li>
            <li>Subjects</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->

    <section id="blog" class="blog">
      <div class="container">
        
        <div class="row">
          {% if subjects %}
          {% for exam in subjects %}
          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            
            <article class="entry">
              <div class="entry-img">
                <img src="{% static "Content/assets/img/blog-1.jpg" %}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
              {{ exam.title }}
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-single.html">{{ exams.owner.first_name }} {{ exam.owner.last_name }}</a></li>
                </ul>
              </div>
              
              <div class="entry-content">
                <p>
                  {{ exam.des }}                
                </p>
                {% for passed in stud %}
                {% if passed.exam == exam %}
                {% if request.user.id == passed.user.id %}
                <p> Вы проходили этот экзамен </p>
                <p> {{ passed.points }}/3 Ваш набранный бал </p>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% if exam.id in stud1 %}
                {% else %}
                <div class="read-more">
                  <a href="exam?exam_id={{ exam.id }}">Go to exam</a>
                </div>
                {% endif %}
                {% if exam.owner.id == request.user.id %}
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" value="{{exam.id}}"  name="exam_id">
                  <input type="submit" value="Delete">
                </form>
                {% endif %}
              </div>
              
            </article><!-- End blog entry -->
          </div>
          {% endfor %}
          {% endif %}
          
          
          {% if active %}
          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            
            <article class="entry">
              <div class="entry-img">
                <img src="{% static "Content/assets/img/blog-1.jpg" %}" alt="" class="img-fluid">
              </div>
      
              <h2 class="entry-title">
              Создай свой Тест!
              </h2>
      
              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a>Admin</a></li>
                </ul>
              </div>
      
              <div class="entry-content">
                <p>
                Ты можешь создать тест на любую тему, со своими ответами и проверить своих друзей на знайние данной темы.               
                </p>
                <div class="read-more">
                  <a href="exam_creation">Exam creation</a>
                </div>
                {% else %}
      
                {% endif %}

              </div>
      
            </article><!-- End blog entry -->
          </div>
        </div>
      </div>
    </section><!-- End Blog Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Chalys</h3>
              <p>
                A777 Mamyr-4 <br>
                AL 777777, KZ<br><br>
                <strong>Phone:</strong> +7 777 777 77 77<br>
                <strong>Email:</strong> Pochta@gmail.com<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="subjects">Subjects</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; <strong><span>Chalys</span></strong>. All For you
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/sailor-free-bootstrap-theme/ -->
        Designed by <a>Human</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "Content/assets/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "Content/assets/vendor/jquery.easing/jquery.easing.min.js" %}"></script>
  <script src="{% static "Content/assets/vendor/php-email-form/validate.js" %}"></script>
  <script src="{% static "Content/assets/vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
  <script src="{% static "Content/assets/vendor/venobox/venobox.min.js" %}"></script>
  <script src="{% static "Content/assets/vendor/waypoints/jquery.waypoints.min.js" %}"></script>
  <script src="{% static "Content/assets/vendor/owl.carousel/owl.carousel.min.js" %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static "Content/assets/js/main.js" %}"></script>

</body>

</html>